@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.navbar {
  background: #000;
}

body{
     font-family: "Space Grotesk", sans-serif;
     background-color:black;
    
}
.navbar{
    animation: slide1 1s forwards;
    margin-top: -100px;
}
@keyframes slide1 {
    from{  margin-top: -100px;}
    to{
    margin-top: 0px;
    }
}
.nav-link {
  color: #000000 !important;
  font-weight: 500;
  font-size: 20px;
background-color: #ade95a;
border-radius: 1rem;
}
.nav-link:hover {
  color: #dddddd !important;
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon {
  filter: invert(1);
}
 .name {
    font-size: 80px;
    margin-top: 400px;
    color: rgb(0, 0, 0);
     animation: slide 1s;
     animation-fill-mode: forwards;
     transition: all 1s;
     text-shadow: 0px 0px 100px #ade95a;
 }
 @keyframes slide {
    from{margin-top: 400px;}
    to{    margin-top: 180px;;
}
 }
 .name span{
    font-size: 30px;
    color: #645858;
 }
 .name :hover{
  color: #ade95a;
 }
 .round{
  background-color: #ade95a;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: -320px;
  margin-right: -300px;
  animation: round 1s forwards;
box-shadow: 0px 0px 0px #000000;
}
 .round2{
  background-color: #ade95a;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: -400px;
  margin-left: -300px;
  animation: round2 1s forwards;
box-shadow: 0px 0px 0px #000000;

 }
 @keyframes round2 {
  from{
  margin-left: -300px;
box-shadow: 0px 0px 0px #000000;

  }
  to{
  margin-left: 400px;
box-shadow: 0px 0px 100px #ade95a;
  
  }
 }
 @keyframes round {
  from{
  margin-right: -300px;
box-shadow: 0px 0px 0px #000000;

  }
  to{
  margin-right: 400px;
box-shadow: 0px 0px 100px #ade95a;

  }
 }
 .portfolio{
  color: #ade95a;
  position: relative;
  top: -29rem;

 }

 @media  (max-width: 686px) {
  .round, .round2{
    display: none;
  }
  .name{
     color: white;
  }

 }

 @media  (max-width: 962px) {
   @keyframes round2 {
  from{
  margin-left: -300px;
box-shadow: 0px 0px 0px #000000;

  }
  to{
  margin-left: 300px;
box-shadow: 0px 0px 100px #ade95a;
  
  }
 }
 @keyframes round {
  from{
  margin-right: -300px;
box-shadow: 0px 0px 0px #000000;

  }
  to{
  margin-right: 300px;
box-shadow: 0px 0px 100px #ade95a;
}
 }
}
 @media  (min-width: 1450px) {
   @keyframes round2 {
  from{
  margin-left: -300px;
box-shadow: 0px 0px 0px #000000;

  }
  to{
  margin-left: 500px;
box-shadow: 0px 0px 100px #ade95a;
  
  }
 }
 @keyframes round {
  from{
  margin-right: -300px;
box-shadow: 0px 0px 0px #000000;

  }
  to{
  margin-right: 500px;
box-shadow: 0px 0px 100px #ade95a;
}
}
 }

 /* =======================certificate======================/ */

.card{
   transition: all 0.4s;
  margin-left: 10px;
}
.cards{
  margin-top: 100px;
}
.card-1{
  position: relative;
  top: -30rem;
  animation: card12 1s forwards;
    background-color: #ade95a;
}
.card-2{
   position: relative;
  top: 30rem;
  animation: card34 1s forwards;
    background-color: #ade95a;
}
.card-3{
   position: relative;
  top: -30rem;
  animation: card12 1s forwards;
    background-color: #ade95a;
}
.card-4{
   position: relative;
  top: 30rem;
  animation: card34 1s forwards;
    background-color: #ade95a;
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover{
  box-shadow: 0px 0px 30px #c1ff6a;
  transform: scale(1.1);

}

@keyframes card12 {
  from{
  top: -30rem;
  }
  to{
  top: 0rem;
  }
}
@keyframes card34 {
  from{
  top: 30rem;
  }
  to{
  top: 0rem;
  }
}
/* --------------------------contact------------- */
.contact{
  max-width: 500px;
}
.btn{
  /* border: 1px solid #000000; */
  background-color: #172700;
  color: white;
  border-radius: 50px;
  margin-top: 30px;
}
.btn:hover{
  background-color: #d5ff9a;
}