@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.navbar {
  background: #000;
}

body{
     font-family: "Space Grotesk", sans-serif;
     background-color:black;
    
}
.navbar{
    animation: slide1 1s forwards;
    margin-top: -100px;
}
@keyframes slide1 {
    from{  margin-top: -100px;}
    to{
    margin-top: 0px;
    }
}
.nav-link {
  color: #000000 !important;
  font-weight: 500;
  font-size: 20px;
background-color: #ade95a;
border-radius: 1rem;
}
.nav-link:hover {
  color: #dddddd !important;
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon {
  filter: invert(1);
}
 .name{
    font-size: 80px;
    margin-top: 400px;
    
     animation: slide 1s;
     animation-fill-mode: forwards;
     transition: all 1s;
     text-shadow: 0px 0px 1000px #ade95a;
 }
 @keyframes slide {
    from{margin-top: 400px;}
    to{    margin-top: 180px;
}
 }
 .name span{
    font-size: 30px;
    color: #645858;
 }